{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block title %}{{ profile.animal_name }}{% endblock %}

{% block content %}
    <div>
        <img src="{{ profile.petprofile.profile_image.url }}" class="img-thumbnail" style="height: 100% !important; width: 200px !important;">
    </div>
    <div>
        <p>{{ profile.petprofile.profile_description }}</p>
    </div>
    <div>
        <ul>
            {% for friend in friend_posts %}
                {% for post in friend.friend.petprofile.petpost_set %}
                    <li>{{ post }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}